@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body{
    color: #ededed;
}
.header{
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    padding: 12px 100px;
    background: #323946;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.navbar a{
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}
.navbar a:hover::before{
    width: 100%;
}
.home{
    display: flex;
    background: #141414;
    background-position: center;
    align-items: center;
    height: 100vh;
    padding: 0 7%;
}
.home-content{
    color: #ededed;
    max-width: 600px;
}
.home-content h1{
    position: relative;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.7;
}
.home-content h3{
    font-size: 27px;
    font-weight: 700;
    color: cyan;
    line-height: 2;
}
.home-content p{
    font-size: 15px;
}
.home-content .tombol{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 34px;
}
.tombol a{
    position: relative;
    display: inline-flex;
    width: 150px;
    height: 100%;
    font-size: 19px;
    background: transparent;
    text-decoration: none;
    color: cyan;
    font-weight: 600;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    border: 2px solid cyan;
    border-radius: 8px;
    z-index: 1;
    overflow: hidden;
    transition: .3s;
}
.tombol a:hover{
    color: cyan;
}
.tombol a:nth-child(2){
    background: transparent;
    color: cyan;
}
.tombol a:nth-child(2):hover{
    color: #081b29;
}
.tombol a:nth-child(2)::before{
    background: cyan;
}
.tombol a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .3s;
}
.tombol a:hover:before{
    width: 100%;
}

.home-image{
    background: transparent;
    border-radius: 10px;
    border: 1px solid cyan;
    box-shadow: 4px 4px 10px 10px cyan;
    transition: all 0.5s ease;
    text-align: center;
    width: 290px;
    height: 350px;
    margin-left: 160px;
}
.home-image img{
    height: 350px;
    width: 290px;
    float: right;
    margin-left: 160px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #000;
    border: 1px solid cyan;
    box-shadow: 5px cyan;
}
.about{
    background: #141414;
    height: 100%;
    width: 100%;
    padding: 120px 0;
}
.about-me{
    width: 1130px;
    max-width: 95%;
    margin: 0% auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-me img{
    height: 400px;
    width: 400px;
    border-radius: 10px;
}
.about-text{
    width: 550px;
}
.about-text h2{
    color: white;
    font-size: 45px;
    text-transform: capitalize;
    margin-bottom: 20px;
    border-bottom: 1px solid;
}
.services{
    background: #101010;
    width: 100%;
    padding: 100px 0;
}
.title h2{
    color: white;
    font-size: 34px;
    width: 100%;
    margin-bottom: 30px auto;
    text-align: center;
}


.pra p{
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 25px;
    text-align: justify;
}
.pra p a{
    background-color: #323946;
    color: cyan;
    border: 2px solid white;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    text-decoration: none;
}
.pra p a:hover{
    background-color: transparent;
    border: 2px solid cyan;
    cursor: pointer;
}
.team{
    background: #101010;
    width: 100%;
    padding: 89px 0;
}
.kotak{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    flex-wrap: wrap;
}
.kartu{
    height: 600px;
    width: 355px;
    padding: 20px 35px;
    background: black;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 1px solid cyan;
    box-shadow: 1px 2px 5px cyan;
}
.kartu img{
    position: relative;
    height: 230px;
    width: 230px;
}
.kartu h2{
    font-size: 24px;
}
.kartu h3{
    font-size: 18px;
    font-style: italic;
    text-align: left;
    display: flex;
}
.desk p{
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 25px;
    text-align: justify;
}
.desk p a{
    background-color: #323946;
    color: cyan;
    border: 2px solid white;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    text-decoration: none;
}
.desk p a:hover{
    background-color: transparent;
    border: 2px solid cyan;
    cursor: pointer;
}
.contact{
    background: #323946;
    width: 100%;
    padding: 75px 0;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: 50px;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    color: #fff;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: #000;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 15px;
    font-size: 14px;
}
.sosmed{
    background: #000;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}
.sosmed li{
    margin: 0 10px;
}
.sosmed a{
    text-decoration: none;
    color: white;
}
.sosmed a i{
    font-size: 2rem;
    transition: color .4s ease;
}
.sosmed a:hover i{
    color: aqua;
}

.sertif{
    background: #161616;
    height: 1300px;
}

.porto-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2rem;
    margin: 4.2rem;
  }
  .row {
    background: rgb(12, 12, 12);
    border-radius: 20px;
    border: 1px solid transparent;
    box-shadow: 0 0 10px cyan;
    padding: 20px;
    transition: all 0.5s ease;
    text-align: center;

  }
  .row img {
    height: 45px;
    width: 76px;
    border-radius: 20px;
    margin-bottom: 1.4rem;
  }
  .row i{
    width: 40px;
    height: 40px;
    font-size: 3rem;
  }
  .sert {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.sert .sertcard {
    width: 325px;
    background-color: black;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 3px 10px cyan;
    margin: 20px;
}
.sert .sertcard img {
    width: 100%;
    height: 230px;
}
.sertcont {
    padding: 16px;
}

.sertcont h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.sertcont p {
    color: white;
    font-size: 15px;
    line-height: 1.3;
    margin-top: 2px;
}
.sertcont .sertcard-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: black;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 16px;
    border-color: cyan;
    color: cyan;
    transition: 0.6s;
}

.sertcont:hover .sertcard-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: cyan;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 16px;
    color: black;
}
.works{
    background: #141414;
    width: 100%;
    padding: 100px 0;
}
  .work {
    margin: 8px -16px;
  }
  
  .work,
  .work > .column {
    padding: 8px;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  
  .work:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    background-color: #121212;
    padding: 10px;
  }
  
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
    .about-me img{
        width: 50%;
    }
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
    }
    .home-image{
        text-align: center;
    }
    .home-image img{
        gap: 1;
        grid-template-columns: 1;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .about-me img{
        width: 100%;
    }
    .about-me{
        padding: 20px;
        flex-direction: column;
        max-width: 300px;
        max-height: 300px;
        margin-top: 99px;
    }
  }